/* Personnal styles */
.wrapper {
	width: 916px;
	margin: 0 auto;
}

header {
	overflow: hidden;
	padding: 20px 0 20px 0;
}

article {
	float: left;
	width: 526px;
	padding: 0 0 30px 0;
}

aside {
	float: right;
	width: 292px;
}

footer {
	float: left;
	width: 916px;
}

#main_menu li {
	float: left;
	margin: 0 40px 0 0;
}
#main_menu a {
	display: block;
}
